img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

iframe {
    margin-bottom: $spacing/2;
}

.video-responsive {
    margin-bottom: $spacing;
    overflow: hidden;
    padding-bottom: 55%;
    position: relative;
    height: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
