<ul class="posts-list posts-list--external animate__animated animate__fadeInLeftBig">

    <li class="posts-list__item">
        <p class="external-flag">Externally published</p>
        <h2 class="posts-list__title">
            <a href="https://shape.works/article/thinking-in-blocks-wordpress-and-modular-design/" target="_blank" rel="noopener noreferrer">Thinking in blocks: WordPress and modular design
            </a>
        </h2>
        <p class="posts-list__excerpt">You’ve heard that old chestnut about giving a man a fish. You don’t want to be given a fish, or a website, that serves your purposes right now, but quickly becomes a rotten carcass...<a class="posts-list__readmore" href="https://purrgroup.com/insights/blog/thinking-in-blocks/" target="_blank" rel="noopener noreferrer">read more {% icon "launch" %}</a>
        </p>
    </li>

    <li class="posts-list__item">
        <p class="external-flag">Externally published</p>
        <h2 class="posts-list__title">
            <a href="https://purrgroup.com/blog/gutenberg/" target="_blank" rel="noopener noreferrer">Gutenberg is guten ready: embracing the WordPress block editor
            </a>
        </h2>
        <p class="posts-list__excerpt">Gutenberg, a new block editor for composing rich content, was merged into WordPress core in December 2018. It wasn’t really ready yet...<a class="posts-list__readmore" href="https://purrgroup.com/blog/gutenberg/" target="_blank" rel="noopener noreferrer">read more {% icon "launch" %}</a>
        </p>
    </li>

    <li class="posts-list__item">
        <p class="external-flag">Externally published</p>
        <h2 class="posts-list__title">
            <a href="https://purrgroup.com/blog/atomic-deployments/" target="_blank" rel="noopener noreferrer">Atomic deployments: How to update your website with zero downtime
            </a>
        </h2>
        <p class="posts-list__excerpt">Congratulations, the fine folks responsible for developing your website have just built a cool new feature...<a class="posts-list__readmore" href="https://purrgroup.com/blog/atomic-deployments/" target="_blank" rel="noopener noreferrer">read more {% icon "launch" %}</a>
        </p>
    </li>

</ul>