<ul class="posts-list animate__animated animate__fadeInLeftBig">
    {%- for post in collections.posts | reverse -%}
        <li class="posts-list__item">
            <time datetime="{{ post.date | dateToISO }}">Posted:
                {{ post.date | dateToFormat('DD') }}</time>
            <h2 class="posts-list__title">
                <a href="{{ post.url }}">
                    {{ post.data.title }}
                </a>
            </h2>
            <p class="posts-list__excerpt">{{ post.data.excerpt }}..<a class="posts-list__readmore" href="{{ post.url }}">read more</a>
            </p>
        </li>
    {%- endfor -%}
</ul>