// used at foot of Music page
.gallery {
    figure {
        margin-bottom: $spacing;

        img {
            margin-bottom: 0.5em;
        }
    }
    @include mq(md) {
        display: flex;
        margin-left: -$spacing;

        figure {
            margin: $spacing 0 $spacing $spacing;

            figcaption {
                color: $color-light;
            }
        }
    }
}
