.posts-list {
    margin-top: $spacing;

    &__item {
        margin-bottom: $spacing * 2;

        h2 {
            margin-bottom: 0;

            a {
                text-decoration: none;
            }
        }

        time {
            color: $color-light;
        }
    }

    &__title a {
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &__excerpt {
        margin-top: 0.5em;
        margin-bottom: 0;
    }

    &__readmore {
        display: block;
        color: $color-light;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $color-yellow;
        }
    }
}
