// post previews
.post-date {
    color: $color-light;
}

// single posts
.single-post {
    .columns {
        flex-direction: column-reverse;

        @include mq(lg) {
            flex-direction: row;
        }
    }
}
