.posts-list {
    margin-top: $spacing;
    list-style: none;
    margin: 0;
    padding-left: 0;

    &--external {
        max-width: 800px;
        padding: $spacing;
        background-color: rgba($color-light, .05);
    }

    &__item {
        margin-bottom: $spacing;

        .external-flag {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: .75rem;
            color: $color-light;
            margin-bottom: 0;
        }

        h2 {
            margin-bottom: 0;

            a {
                text-decoration: none;
            }

            .posts-list--external & {
                font-size: 1.25rem;
            }
        }

        time {
            color: $color-light;
        }
    }

    &__title a {
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &__excerpt {
        margin-top: 0.5em;
        margin-bottom: 0;
    }

    &__readmore {
        display: block;
        color: $color-light;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $color-yellow;
        }
    }

    &.posts-list--external {

        .icon {
            font-size: 1.25em;
            height: 1em;
            width: 1em;
            vertical-align: middle;
            fill: $color-light;

            &:hover,
            &:focus {
                fill: $color-yellow;
            }
        }
    }
}
