---
layout: base
permalink: /art/
eleventyNavigation:
  key: Art
  order: 2
---

<h1>Art</h1>

<div class="columns">

  <div class="column column--left animate__animated animate__fadeInLeftBig">

    <h2>Carnival builds</h2>

    <p>I sometimes lend a hand to
      <a href="http://www.strangecargo.org.uk/">Strange Cargo,</a>
      a community arts organisation with grass-roots creativity and participation at its core. For their annual Charivari carnival in 2017, my partner and I built Virtual Tim. We wanted to speak to the theme of that year’s Triennial exhibition: Double Edge. We came up with a playful concept, creating a character who exists at the edge of 'authenticity'. Virtual Tim is immersed in his own sensory experience of a carnival, but this insulates him from the riotous noise, colour and energy of the real thing.</p>

  </div>

  <div class="column column--right animate__animated animate__fadeIn animate__delay-2s">

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_-sgG2ZErN0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>

  </div>

</div>

<div class="columns">

  <div class="column column--left animate__animated animate__fadeInLeftBig">

    <h2>Creative Folkestone</h2>

    <p>Between 2014 - 2018 I was a resident of Folkestone's Creative Quarter. I benefited from and contributed to the creative regeneration of the town through my artistic practice and through participation in their projects, such as the Folkestone Triennial. For the Open Quarter event in 2016 I played live music from my doorway, for Open Quarter 2017 I made
      <a href="https://youtu.be/qjGVghDDXOA">a short video</a>
      to capture the community atmosphere, and in 2018 I turned my flat into a temporary exhibition space. The public were invited to come into my home and explore sketches, monoprints, collages, and cardboard oddities.</p>

  </div>

  <div class="column column--right animate__animated animate__fadeIn animate__delay-2s">

    <img src="../assets/images/65a.jpg" alt="Dan Addison's open house exhibition with paintings, drawings, prints, collages.">

  </div>

</div>

<div class="columns">

  <div class="column column--left animate__animated animate__fadeInLeftBig">

    <h2>Painting</h2>

    <p>During my time at art school in Kingston I made large-scale conceptual paintings. These were executed according to a strict set of rules. The result was a fractured mosaic of squares; tiny independent tonal studies which resolved into cohesive photo-realism when viewed at a distance. I wrote a blog post examining this work
      <a href="/posts/grids">here.</a>
    </p>

  </div>

  <div class="column column--right animate__animated animate__fadeIn animate__delay-2s">

    <img src="../assets/images/Case-detail1.jpeg" alt="Reps - a monochromatic painting depicting a bodybuilder duplicated twice across two canvases.">

  </div>

</div>