---
layout: base
permalink: /art/
eleventyNavigation:
  key: Art
---

<div class="columns">

  <div class="column column--left">

    <h2>Strange Cargo</h2>

    <p>Strange Cargo is a community arts organisation with grass-roots creative development and participation at its core. They are based in a small factory building that stands a few yards from the terraced house I grew up in. For their annual Charivari carnival in 2017, my partner and I built Virtual Tim. We wanted to speak to the theme of that year’s Triennial exhibition: Double Edge. We came up with a playful concept, creating a character who existing at the edge of reality. Virtual Tim is immersed in his own sensory experience of a carnival, but is insulated from the riotous noise and colour and community of the real thing. Is his reality 'authentic'?</p>

  </div>

  <div class="column column--right">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/_-sgG2ZErN0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>

  </div>

</div>

<div class="columns">

  <div class="column column--left">

    <h2>Creative Folkestone</h2>

    <p>Between 2014 - 2018 I was a resident of Folkestone's Creative Quarter. I benefited from and contributed to the creative regeneration of the town through my artistic practice and through active participation in their projects, such as the Folkestone Triennial. For the Open Quarter event in 2016 I played live music from my doorway, for Open Quarter 2017 I made a short video to capture the community atmosphere, and in 2018 I turned my flat into a temporary exhibition space. The public were invited to come into my home and explore sketches, monoprints, collages, and cardboard oddities.</p>

  </div>

  <div class="column column--right">

    <img src="../assets/images/65a.jpg" alt="Dan Addison's open house exhibition with paintings, drawings, prints, collages.">

  </div>

</div>

<div class="columns">

  <div class="column column--left">

    <h2>Painting</h2>

    <p>I made large-scale conceptual paintings during my time at art school in Kingston. These were executed according to a strict set of rules. The result was a fractured mosaic of squares, tiny independent tonal studies, which resolved into cohesive photo-realism when viewed at a distance. For an in-depth blog post examining this work,
      <a href="/posts/grids">click here.</a>
    </p>

  </div>

  <div class="column column--right">

    <img src="../assets/images/reps-detail-1.jpeg" alt="Reps - a monochromatic painting depicting a bodybuilder duplicated twice across two canvases.">

  </div>

</div>