---
layout: base
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 5
---

{# internal blog posts #}
{% include "posts-list.njk" %}

{# external blog posts #}
{% include "posts-external.njk" %}