---
layout: base
permalink: /music/
eleventyNavigation:
  key: Music
  order: 1
---

<h1>Music</h1>

<div class="columns">

  <div class="column column--left animate__animated animate__fadeInLeftBig">

    <p>I am one half of indie-folk songwriting duo <a href="https://forestfloormusic.com/" target="_blank" rel="noreferrer noopener" aria-label="This is an external link (opens in a new tab)">forestfloor</a>. We make thoughtful and arresting unplugged music for fans of Bon Iver, Fairport Convention, Dirty Projectors, Adrianne Lenker, Radiohead. We like to play intimate local gigs, or just skulk around in the woods:</p>

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/BMdzjxfqqI4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <p>My music career highlights prior to <a href="https://forestfloormusic.com/" target="_blank" rel="noreferrer noopener" aria-label="This is an external link (opens in a new tab)">forestfloor</a> go something like this:</p>

    <ol>
        <li>Bird Bones - a three piece folk/ post-rock band formed while at art school in Kingston, with Steve James of Semble on piano and Daniel Best of Union Sound Set on drums. A short-lived experiment which nonetheless culminated in a Glastonbury Festival performance in 2008.</li>
        <li>Solo bedroom producer - after moving back to Folkestone I self-produced many EPs and translated my brooding, atmospheric compositions to the stage using live-looping techniques.</li>
        <li>Boo, Forever - a collaborative project with songwriters Si Norton, Ben Fletcher, Natalie Evans and Rebecca Aimi. I produced our eponymous album, released on vinyl in 2013 by Something Something Records.</li>
        <li>Minor Planet - my rap alter ego. I made a playful alternative hip-hop album and shot some <a href="https://www.youtube.com/playlist?list=PL-UsCidd0jWs6OGsUCHHBm4vSoIt3LEv6" target="_blank" rel="noreferrer noopener" aria-label="This is an external link (opens in a new tab)">music videos</a> with local filmmaker Joel Snowman, capturing a common experience of our home town from the fringes.</li>
    </ol>

    <p>Dedicated Dan-fans are welcome to peruse this 
      <a href="https://lyrics.danaddison.uk" target="_blank" rel="noreferrer noopener" aria-label="This is an external link (opens in a new tab)">online archive of my lyrics.</a>
    </p>

  </div>

  <div class="column column--right animate__animated animate__fadeIn animate__delay-2s">

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7CeNksE408h9K08lAc0RAk?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/293QbBqbOAduVlCrFCXFtm?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1772919462/size=large/bgcol=333333/linkcol=e99708/artwork=small/transparent=true/" seamless="">
      <a href="http://somethingsomethingrecords.bandcamp.com/album/boo-forever">Boo, Forever by Boo, Forever</a>
    </iframe>

    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3660055629/size=large/bgcol=333333/linkcol=e99708/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://forestfloorfolk.bandcamp.com/album/strange-news-ep">Strange News EP by forestfloor</a></iframe>

    <blockquote>
      <p>"The blending of acoustic folk’s soft touch and the cold, processed sound of electronic production is something that has been tried a fair amount but has rarely clicked into place. Kent based Boo, Forever can count themselves amongst the minority that have succeeded. Their self-titled debut draws from the likes of Tuung, Bon Iver et al that have a fellow penchant for mixing the new and the old, resulting in something that is constantly intruiging and whose layers of experimentation are easy to lose one’s self in."</p>
      <cite>Will Moss – Artrocker Mag</cite>
    </blockquote>

  </div>

</div>

<div class="gallery animate__animated animate__fadeIn animate__delay-2s">

  <figure>
    <img src="../assets/images/HA-improv.jpg" alt="Dan Addison performing at Folkestone's Harbour Arm">
    <figcaption>Solo public performance</figcaption>
  </figure>

  <figure>
    <img src="../assets/images/Boo.jpeg" alt="Boo Forever at Dungeness Lighthouse">
    <figcaption>Boo, Forever</figcaption>
  </figure>

</div>