---
layout: base
permalink: /music/
eleventyNavigation:
  key: Music
---

<h1>Music</h1>

<div class="columns">

  <div class="column column--left">

    <p>I started writing songs and performing them at open mic nights in my first year of art school in Kingston. Characterised by intricate fingerstyle guitar and emotive, introspective songwriting, my main influence was Nick Drake.</p>

    <p>I became part of a vibrant community of musicians making experimental alternative music, often combining classical, folk and post-rock styles. We staged ambitious gigs in local churches with full orchestral arrangements of our music. This period culminated for me personally in performing at Glastonbury Festival in 2008 with my band Bird Bones.</p>

    <p>I moved back to Folkestone and focused on music production, recording and producing many solo EPs and albums at home. I tried to translate my compositions to the stage by using live-looping techniques. This lo-fi live set was defined by brooding, hypnotic layers of vocals, guitar, synth and percussion, influenced by ethereal witch-house acts like Holy Other, Balam Acab, How to Dress Well. I liked the palimpsest-like quality of looping, the way you can eveolve and mutate an arrangement with a gradual accretion of layers, but echoes from the past remain, colouring your present experience. My music already dealt with themes of memory, holding patterns, feedback loops, emotional stasis and compulsion.</p>

    <p>I joined experimental Kent-based band Boo, Forever, and over a two-year period we played a few gigs and produced an eclectic album which was released on vinyl by Something Something Records. We shared singing and songwriting duties, and I handled production. I tried above all to contrast warm, organic acoustic sounds, like voices or strings, with digital production techniques like resampling and snapping-to-grid.</p>

    <blockquote>
      <p>The blending of acoustic folk’s soft touch and the cold, processed sound of electronic production is something that has been tried a fair amount but has rarely clicked into place. Kent based Boo, Forever can count themselves amongst the minority that have succeeded. Their self-titled debut draws from the likes of Tuung, Bon Iver et al that have a fellow penchant for mixing the new and the old, resulting in something that is constantly intruiging and whose layers of experimentation are easy to lose one’s self in.</p>
      <cite>Will Moss – Artrocker Mag</cite>
    </blockquote>

    <p>Other notable musical output includes Minor Planet, my alternative hip-hop side project. I collaborated with local filmmaker Joel Snowman to create three music videos in and around Folkestone. His eye and editing style helped to capture a shared experience of our home town from the fringes.</p>

    <p>You can view the lyrics for my entire back catalogue at my online song archive.</p>

  </div>

  <div class="column column--right">

    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4015211450/size=large/bgcol=333333/linkcol=e99708/tracklist=false/artwork=small/transparent=true/" seamless="">
      <a href="http://danieladdison.bandcamp.com/album/vodka-tapes">Vodka Tapes by Daniel Addison Music</a>
    </iframe>

    <img src="../assets/images/bedroom-studio-2.jpeg" alt="">

    <img src="../assets/images/HA-improv.jpg" alt="">

  </div>

</div>