---
layout: base
permalink: /music/
eleventyNavigation:
  key: Music
---

<h1>Music</h1>

<div class="columns">

  <div class="column column--left">

    <p>I started writing songs and performing them in my first year of art school in Kingston. Characterised by intricate fingerstyle guitar and emotive, introspective songwriting, my main influence was Nick Drake.</p>

    <p>I joined a vibrant community of musicians making experimental alternative music, often combining classical, folk and post-rock styles. We staged ambitious gigs in local churches with full orchestral arrangements of our music. This period culminated for me personally in performing at Glastonbury Festival in 2008 with my band Bird Bones.</p>

    <p>I moved back to Folkestone and focused on music production. I recorded and produced many solo EPs and albums at home, and tried to translate my compositions to the stage by using live-looping techniques. This lo-fi live set was defined by brooding, hypnotic layers of vocals, guitar, synth and percussion, influenced by ethereal witch-house acts like Holy Other, Balam Acab, How to Dress Well. I liked the palimpsest-like quality of looping; the way you can evolve and mutate an arrangement with a gradual accretion of layers, coloured by echoes of the past. Common themes in my music were memory, emotional holding patterns, and compulsion.</p>

    <p>I joined experimental Kent-based band Boo, Forever. Over a two-year period we played a few gigs and produced an eclectic album which was released on vinyl by Something Something Records. We shared singing and songwriting duties, and I handled production. I tried above all to contrast warm, organic acoustic sounds, like voices and strings, with digital production techniques like resampling and snapping-to-grid.</p>

    <p>Another notable side project was Minor Planet, my rap alter ego. I made a playful alternative hip-hop album and collaborated with local filmmaker Joel Snowman to create three atmospheric music videos in and around Folkestone. His eye and editing style helped to capture a shared experience of our home town from the fringes.</p>

    <p>Watch my music videos
      <a href="https://www.youtube.com/playlist?list=PL-UsCidd0jWs6OGsUCHHBm4vSoIt3LEv6">here.</a>
    </p>

    <p>Listen to a broad selection of my music on
      <a href="https://soundcloud.com/danieladdisonmusic">Soundcloud.</a>
    </p>

    <p>Explore all of my song lyrics at
      <a href="https://daniel-addison-lyrics-archive.netlify.app/#/">my online archive.</a>
    </p>

    <p>Catch clips by following the
      <a href="https://www.instagram.com/explore/tags/danieladdisonmusic/">#danieladdisonmusic</a>
      hashtag.</p>

  </div>

  <div class="column column--right">

    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3598012740/size=large/bgcol=333333/linkcol=e99708/tracklist=false/artwork=small/transparent=true/" seamless="">
      <a href="http://danieladdison.bandcamp.com/album/singles">Singles by Daniel Addison Music</a>
    </iframe>

    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4015211450/size=large/bgcol=333333/linkcol=e99708/tracklist=false/artwork=small/transparent=true/" seamless="">
      <a href="http://danieladdison.bandcamp.com/album/vodka-tapes">Vodka Tapes by Daniel Addison Music</a>
    </iframe>

    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2811032188/size=large/bgcol=333333/linkcol=e99708/tracklist=false/artwork=small/transparent=true/" seamless="">
      <a href="http://danieladdison.bandcamp.com/album/sovereign">Sovereign by Daniel Addison feat. Charlie C</a>
    </iframe>

    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1772919462/size=large/bgcol=333333/linkcol=e99708/artwork=small/transparent=true/" seamless="">
      <a href="http://somethingsomethingrecords.bandcamp.com/album/boo-forever">Boo, Forever by Boo, Forever</a>
    </iframe>

    <blockquote>
      <p>"The blending of acoustic folk’s soft touch and the cold, processed sound of electronic production is something that has been tried a fair amount but has rarely clicked into place. Kent based Boo, Forever can count themselves amongst the minority that have succeeded. Their self-titled debut draws from the likes of Tuung, Bon Iver et al that have a fellow penchant for mixing the new and the old, resulting in something that is constantly intruiging and whose layers of experimentation are easy to lose one’s self in."</p>
      <cite>Will Moss – Artrocker Mag</cite>
    </blockquote>

  </div>

</div>

<div class="gallery">

  <figure>
    <img src="../assets/images/HA-improv.jpg" alt="Dan Addison performing at Folkestone's Harbour Arm">
    <figcaption>Solo public performance</figcaption>
  </figure>

  <figure>
    <img src="../assets/images/Boo.jpeg" alt="Boo Forever at Dungeness Lighthouse">
    <figcaption>Boo, Forever</figcaption>
  </figure>

</div>