---
layout: base
permalink: /video/
eleventyNavigation:
  key: Video
  order: 3
---
<h1>Video</h1>

<div class="columns">

  <div class="column column--left animate__animated animate__fadeInLeftBig">

    <h2>Culture</h2>

    <p>One of the things that my
      <a href="yhttps://www.youtube.com/c/DanAddison" target="_blank" rel="noreferrer noopener" aria-label="This is an external link (opens in a new tab)">YouTube</a>
      channel features is short films capturing or commenting upon creative life in Folkestone.</p>
    <p>A well received example is my Folkestone Triennial 2017 full walking tour; a breakneck explanation of all the artworks which also serves to orientate visitors to the town, both geographically and historically.</p>
    <p>Another favourite is my atmospheric record of the 2018 Cheriton Light Festival. Like most of my videos, I've used a song from my own back catalogue to drive it forward.</p>

  </div>

  <div class="column column--right animate__animated animate__fadeIn animate__delay-2s">

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/z6Wb51Lxd_A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/TERMLA3eiRo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>

  </div>

</div>

<div class="columns">

  <div class="column column--left animate__animated animate__fadeInLeftBig">

    <h2>Travel Vlogs</h2>

    <p>To shoot video while on holiday, or not to shoot video while on holiday? Making an 'off-the-cuff' video is deceptively labour intensive, so filming can detract from the lived experience in the moment. But the result is a fun and evocative time capsule of shared joy.</p>
    <p>I make up for patchy coverage and basic equipment (ie. just an iPhone) with an energetic editing style. Snap every useable chunk of footage to rhythmic accents in the backing track and half the battle is won. I recommend everyone try doing a travel video at least once.</p>

  </div>

  <div class="column column--right animate__animated animate__fadeIn animate__delay-2s">

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dokyev4avIM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JKO8MT65j6I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>

  </div>

</div>