---
layout: base
permalink: /video/
eleventyNavigation:
  key: Video
---

<div class="columns">

  <div class="column column--left">

    <h2>Culture</h2>

    <p>I have made several videoa to capture or comment upon creative life in Folkestone.</p>

  </div>

  <div class="column column--right">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/z6Wb51Lxd_A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/TERMLA3eiRo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>

  </div>

</div>

<div class="columns">

  <div class="column column--left">

    <h2>Travel Vlogs</h2>

    <p>Sometimes I like to make something of a creative project out of my holidays.</p>

  </div>

  <div class="column column--right">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/dokyev4avIM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/JKO8MT65j6I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>

  </div>

</div>