---
layout: base
permalink: /video/
eleventyNavigation:
  key: Video
  order: 3
---
<h1>Video</h1>

<div class="columns">

  <div class="column column--left">

    <h2>Culture</h2>

    <p>I have made a few videos to capture or comment upon creative life in Folkestone.</p>
    <p>One example is my Folkestone Triennial 2017 full walking tour, a breakneck explanation of all the artworks which also serves to orientate visitors to the town, both geographically and historically.</p>
    <p>Another favourite is my atmospheric record of the 2018 Cheriton Light Festival.</p>

  </div>

  <div class="column column--right">

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/z6Wb51Lxd_A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/TERMLA3eiRo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>

  </div>

</div>

<div class="columns">

  <div class="column column--left">

    <h2>Travel Vlogs</h2>

    <p>I like to create an evocative record of my holidays, now that our phones shoot video so well. Filming can admittedly detract from the lived experience in the moment - 'off-the-cuff' videos are deceptively difficult to make! But the effort spent always feels completely worthwhile in retrospect, whenever I watch one of these fun time capsules of shared joy.</p>

  </div>

  <div class="column column--right">

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dokyev4avIM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JKO8MT65j6I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>

  </div>

</div>