---
layout: base
permalink: /web/
eleventyNavigation:
  key: Web
  order: 4
---

<h1>Web</h1>

<div class="columns">

  <div class="column column--left animate__animated animate__fadeInLeftBig">

    <p>I'm a web developer at London digital agency
      <a href="https://purrgroup.com/" target="_blank" rel="noreferrer noopener" aria-label="This is an external link (opens in a new tab)">Purr.</a>
    </p>

    <p>I specialise in WordPress, the world-leading Content Management System. WordPress is flexible, user-friendly, SEO-friendly, open-source and constantly evolving.</p>
    <p>At Purr we approach our WordPress projects with modern development tools and patterns, using Bedrock for enhanced security and dependency management, React for custom Gutenberg block development (I wrote an article on this
      <a href="https://purrgroup.com/blog/gutenberg/" target="_blank" rel="noreferrer noopener" aria-label="This is an external link (opens in a new tab)">here</a>), and atomic deployments for robust zero downtime delivery (another article of mine
      <a href="https://purrgroup.com/blog/atomic-deployments/" target="_blank" rel="noreferrer noopener" aria-label="This is an external link (opens in a new tab)">here</a>).</p>

    <p>In my smaller scale personal and freelance projects, for keeping costs and maintenance demands close to zero, I like the JAMstack. In a nutshell:</p>
    <blockquote>
      <p>Fast and secure sites and apps delivered by pre-rendering files and serving them directly from a CDN, removing the requirement to manage or run web servers.</p>
      <cite>jamstack.org</cite>
    </blockquote>
    <p>This site is built on Eleventy - my other favourite static site generators are Gridsome and Gatsby which use the Vue and React JavaScript frameworks respectively. I enjoy experimenting with CSS-in-JS, utilising tools like Styled Components to create reusable, scalable UI component libraries.</p>

    <h3>For more on my web work, please check out my resume site
      <a href="https://danaddison.netlify.app/" target="_blank" rel="noreferrer noopener" aria-label="This is an external link (opens in a new tab)">here.</a>
    </h3>

  </div>

</div>