---
layout: base
---

<div class="columns">

  <div class="column column--left animate__animated animate__fadeInLeftBig">

    <p>Hi, welcome to my personal website. Have a look around for a few insights into my creative output.</p>
    <p>This includes making
      <a class="fancy-link" href="/music">music,</a>
      <a class="fancy-link" href="/art">art,</a>
      <a class="fancy-link" href="/video">videos,</a>
      <a class="fancy-link" href="/blog">writing,</a>
      and building
      <a class="fancy-link" href="/web">websites.</a>
    </p>
    <p>I'm also into low-angle sunshine, family and friends, indie cinema, languid bike rides, calisthenics, literary fiction, summer sea swimming, Shane Carruth, Alex Honnold, Rose Namajunas, Kendrick Lamar and Alan Partridge.</p>

    <p>Feel free to scoot over to my professional
      <a href="https://danaddison.netlify.app/">resume</a>
      too, if that's what you're looking for.</p>

    {# <p>Fill in the form below if you want to get in touch, or just do it this way
      <a href="https://www.instagram.com/dandevelops/">{% icon "instagram" %}</a>
    </p>

    <form name="contact-form" method="POST" netlify-honeypot="bot-field" data-netlify="true">
      <div class="sr-only">
        <label htmlfor="bot-field">Don’t fill this out if you're human:</label>
        <input name="bot-field"/>
      </div>
      <input type="hidden" name="form-name" value="rsvp_2021"/>
      <div class="form__element">
        <input type="text" name="name" placeholder="Your Name" required="required"/>
      </div>
      <div class="form__element">
        <input type="email" name="email" placeholder="Your Email" required="required"/>
      </div>
      <div class="form__element">
        <textarea type="text" name="message" placeholder="What's on your mind?" rows="4"></textarea>
      </div>
      <button class="btn" type="submit">Send</button>
    </form> #}

  </div>

  <div class="column column--right animate__animated animate__fadeIn animate__delay-2s">
    <img src="../assets/images/DanDec20.JPG" alt="">
  </div>

</div>