---
layout: base
---

<div class="columns">

  <div class="column column--left animate__animated animate__fadeInLeftBig">

    <p>Hi, this is a space for my creative projects.</p>
    <p>You'll find examples of
      <a class="fancy-link" href="/music">music,</a>
      <a class="fancy-link" href="/art">art,</a>
      <a class="fancy-link" href="/video">videos,</a>
      <a class="fancy-link" href="/blog">writing,</a>
      and 
      <a class="fancy-link" href="/web">websites.</a>
    </p>
    <p>When I'm not doing any of the above, I'm hanging with family or exercising or watching Stath Lets Flats.</p>

    <p>Interested parties can find my professional resume
      <a href="https://danaddison.netlify.app/" target="_blank" rel="noreferrer noopener" aria-label="This is an external link (opens in a new tab)">here.</a></p>

    {# <p>Fill in the form below if you want to get in touch, or just do it this way
      <a href="https://www.instagram.com/dandevelops/">{% icon "instagram" %}</a>
    </p>

    <form name="contact-form" method="POST" netlify-honeypot="bot-field" data-netlify="true">
      <div class="sr-only">
        <label htmlfor="bot-field">Don’t fill this out if you're human:</label>
        <input name="bot-field"/>
      </div>
      <input type="hidden" name="form-name" value="rsvp_2021"/>
      <div class="form__element">
        <input type="text" name="name" placeholder="Your Name" required="required"/>
      </div>
      <div class="form__element">
        <input type="email" name="email" placeholder="Your Email" required="required"/>
      </div>
      <div class="form__element">
        <textarea type="text" name="message" placeholder="What's on your mind?" rows="4"></textarea>
      </div>
      <button class="btn" type="submit">Send</button>
    </form> #}

  </div>

  <div class="column column--right animate__animated animate__fadeIn animate__delay-2s">
    <img src="../assets/images/DanDec20.JPG" alt="">
  </div>

</div>