---
layout: base
eleventyNavigation:
  key: Home
---

<div class="columns">

  <div class="column column--left">

    <p>Look around, you'll find examples of my
      <a href="/web">web projects,</a>
      <a href="/music">music,</a>
      <a href="/art">art,</a>
      <a href="/video">videos</a>, and
      <a href="/blog">writing.</a>
    </p>

  </div>

  <div class="column column--right">
    <img src="../assets/images/sintra5.png" alt="">
  </div>

</div>