---
layout: base
---
<article class="single-post">

    <p class="back-link">
        <a href="/blog">
            <i class="arrow--left"></i>blog</a>
    </p>

    <p class="post-date">{{ date | dateToFormat('DD') }}</p>
    <h1>{{ title }}</h1>

    <div class="columns">
        <div class="column column--left animate__animated animate__fadeInLeftBig">
            {{ content | safe }}
        </div>

        <div class="column column--right animate__animated animate__fadeIn animate__delay-2s">
            <img src="../../assets/images/blog/{{ imageFile }}" alt="{{ imageAlt }}">
        </div>
    </div>

    <p class="back-link">
        <a href="/blog">
            <i class="arrow--left"></i>blog</a>
    </p>

</article>